PORT=<port number>
MONGODB_CONNECTION_STRING=<mongodb url>

CORS_ORIGIN=<accepted origins>

#auth
ACCESS_TOKEN_SECRET=<access token secret>
ACCESS_TOKEN_EXPIRY=<access token expiry>
REFRESH_TOKEN_SECRET=<refresh token secret>
REFRESH_TOKEN_EXPIRY=<refresh token expiry>

#cloudinary
CLOUDINARY_CLOUD_NAME=<cloudinary cloud name>
CLOUDINARY_API_KEY=<cloudinary api key>
CLOUDINARY_API_SECRET=<cloudinary api secret>